<div class="wrapper" [style.background]="imgUrl">
  <div class="auth-block" *ngIf="(isLoggedIn$ | async) else login_block">
    <a [style.color]="textColor?.titleTextColor" (click)="logout()">Logout</a>
  </div>
  <ng-template #login_block>
    <div class="auth-block">
      <a [style.color]="textColor?.titleTextColor" routerLink="login">Login</a>
      <a [style.color]="textColor?.titleTextColor" routerLink="sign-up">Sign Up</a>
    </div>
  </ng-template>
  <h1 *ngIf="user$ |async as user else noUser" [style.color]="textColor?.titleTextColor">Hi, {{user?.name}} </h1>
  <ng-template #noUser>
    <h1 [style.color]="textColor?.titleTextColor">Welcome !</h1>
  </ng-template>
  <span [style.color]="textColor?.titleTextColor" class="time-block">{{currentTime | async}}</span>
  <router-outlet></router-outlet>
</div>
