<div class="container">

  <form [formGroup]="taskForm"
        #formDirective=ngForm
        (ngSubmit)="addTask()">

    <mat-form-field color="primary"
                    appearance="outline">
      <mat-label [style.color]="textColor?.titleTextColor">To do</mat-label>
      <input matInput
             type="text"
             formControlName="description"
             [style.color]="textColor?.titleTextColor">
    </mat-form-field>
  </form>
  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="tasks"
       class="list" (cdkDropListDropped)="drop($event)">

    <app-task [task]="task"
              [textColor]="textColor"
              *ngFor="let task of tasks"
              (delete)="deleteTask($event)"></app-task>

  </div>
</div>
