<div class="container">

  <form [formGroup]="taskForm"
        #formDirective=ngForm
        (ngSubmit)="addTask()">

    <mat-form-field color="primary"
                    appearance="outline">
      <mat-label [style.color]="textColor?.titleTextColor">To do</mat-label>
      <input matInput
             type="text"
             formControlName="description"
             [style.color]="textColor?.titleTextColor">
    </mat-form-field>
  </form>
  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="tasks"
     class="list" (cdkDropListDropped)="drop($event)">
    <div class="list-item" [style.color]="textColor?.titleTextColor" *ngFor="let item of tasks" cdkDrag>{{item.description}}
      <mat-icon class="close-button"
                aria-hidden="false"
                aria-label="close"
                [style.color]="textColor?.titleTextColor"
                (click)="deleteTask(item)"
      >close</mat-icon>
    </div>
  </div>
</div>
