:host {
  //height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.registration-form {
  display: flex;
  flex-direction: column;
}

mat-card {
  min-width: 300px;
  width: 50%;
}
